.content-wrapper{
  position: relative;
  margin-top: $header-height + 50px;
  .content-header {
    position: fixed;
    padding: 0;
    left: $sidebar-width;
    right: 0;
    top: $header-height;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    .tags-outer-scroll-con{
      position: relative;
      box-sizing: border-box;
      padding-right: 120px;
      width: 100%;
      height: 50px;
      .tags-inner-scroll-body{
        position: absolute;
        padding: 5px 10px;
        overflow: visible;
        white-space: nowrap;
        transition: left .3s ease;
      }
      .close-all-tag-con{
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        padding-top: 13px;
        text-align: center;
        width: 110px;
        height: 100%;
        background: white;
        box-shadow: -3px 0 15px 3px rgba(0, 0, 0, .1);
        z-index: 10;
      }
      .tags-btn-box-left,.tags-btn-box-right {
        background: #f6f6f6;
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        padding: 8px 10px;
        z-index: 1;
        .ivu-btn {
          background: white;
          padding: 5px 4px;
        }
      }
      .tags-btn-box-left {
        left: 0;
      }
      .tags-btn-box-right {
        right: 110px;
      }
    }
  }
  .content {
    position: fixed;
    left: $sidebar-width;
    right: 0;
    top: $header-height + 50px;
    bottom: 50px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    &::-webkit-scrollbar{
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: #999999;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
      width: 5px;
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
  }
}

.sidebar-collapse{
  .content-wrapper{
    .content-header {
      left: 50px;
    }
    .content {
      left: 50px;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-collapse .content-wrapper .content {
    left: 0;
  }
  .sidebar-open {
    .content-wrapper {
      -webkit-transform: inherit;
      transform: inherit;
      .content {
        left: $sidebar-width;
      }
    }
  }
  .content-wrapper{
    margin-top: $header-height * 2;
    .content-header {
      display: none;
    }
    .content {
      left: 0;
      top: 0;
      position: relative;
    }
  }
}
