.content-wrapper{
  position: relative;
  margin-top: $header-height + 50px;
  .content-header {
    position: fixed;
    padding: 12px 15px 12px 15px;
    left: $sidebar-width;
    right: 0;
    top: $header-height;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
  }
  .content {
    position: fixed;
    left: $sidebar-width;
    right: 0;
    top: $header-height + 50px;
    bottom: 50px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    &::-webkit-scrollbar{
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: #999999;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
      width: 5px;
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
  }
}

.sidebar-collapse{
  .content-wrapper{
    .content-header {
      left: 50px;
    }
    .content {
      left: 50px;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-collapse .content-wrapper .content {
    left: 0;
  }
  .sidebar-open {
    .content-wrapper {
      -webkit-transform: inherit;
      transform: inherit;
      .content {
        left: $sidebar-width;
      }
    }
  }
  .content-wrapper{
    margin-top: $header-height * 2;
    .content-header {
      display: none;
    }
    .content {
      left: 0;
      top: $header-height * 2;
    }
  }
}
