.main-header {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .1);
  .navbar {
    min-height: $header-height;
    height: $header-height;
    .navbar-custom-menu .navbar-nav > li > a,
    .navbar-right > li > a {
      border-left: 0 !important;
      border-right: 0 !important;
      padding: 15px + ($header-height - $old-header-height)/2px 15px;
    }
    .function-area {
      padding-right: 20px;
      height: $header-height;
      .lock-screen-btn-con,
      .theme-switch-btn-con,
      .language-switch-btn-con {
        float: left;
        display: block;
        width: 40px;
        padding: 15px + ($header-height - $old-header-height)/1.875  10px;
        text-align: center;
        cursor: pointer;
        i {
          color: #ffffff;
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }
  }
  .sidebar-toggle {
    padding: 15px + ($header-height - $old-header-height - ($header-height - $old-header-height) * 8/15 + 1)/2px 15px + ($header-height - $old-header-height)/2px;
    font-size: 14px + ($header-height - $old-header-height) * 4/15;
    border-left: 0;
    border-right: 0 !important;
    &:hover {
    }
    &:focus,
    &:active {
      background: transparent;
    }
    &:before {
      content: " ";
    }
    .icon-bar {
      display: none;
    }
  }
  .logo {
    height: $header-height;
    line-height: $header-height;
  }
}
